<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="books.scss">
    <title>WedCampTask2</title>
<body>
  <h1>Editing Book</h1>
   <%= form_with model: Book.new do |f| %>
   <%= f.text_field :title %>
   <%= f.text_area :body %>
   <%= f.submit 'Update Book' %>
  <% end %>
</body>