// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  color: #333;
}

th {
  text-align: internal-center;
  font-weight: bold;
  vertical-align: inherit;
  padding-bootom: 5px;
  display: table-cell;
}

td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}